{% extends 'navigation.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-sm-12 col-xs-12 text-center gradient">
                <h1 class="title">ENCONTRAR</h1>
            </div>
        </div>
       <div class="row">
            <div class="col-md-12 col-xs-12">
                <p>Avise se viu algum desses animalzinhos perdidos, tem pessoas preocupadas procurando por seus parceiros</p>
                <a href="#demo" class="btn btn-secondary float-right" data-toggle="collapse">Filtros</a>
                <h4>Utilize os filtros para facilitar a busca</h4>
                <div id="demo" class="collapse">
                    <hr>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    <form class="mt-4 mb-4" action="/exemplo.js">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select class="form-control" id="fcEspecie">
                                      <option value="0">Selecione uma espécie</option>
                                      <option value="1">Cachorro</option>
                                      <option value="2">Gato</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="fcRaca">
                                      <option value="0">Selecione uma raça</option>
                                      <option value="1">não sei</option>
                                      <option value="2">nenhuma raça</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select class="form-control" id="fcCor">
                                        <option value="0">Selecione a cor predominante</option>
                                        <option value="1">Preto</option>
                                        <option value="2">Branco</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="fcSexo">
                                        <option value="0">Selecione o sexo</option>
                                        <option value="1">Masculino</option>
                                        <option value="2">Feminino</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select class="form-control" id="fcIdade">
                                        <option value="0">Selecione a idade aproximada</option>
                                        <option value="1">Até 1 ano - Filhote</option>
                                        <option value="2">Entre 1 e 3 anos - Adolecente kkk</option>
                                        <option value="3">Acima de 3 anos - Adulto</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="fcCaracteristica">
                                        <option value="0">não sei mais o que por</option>
                                        <option value="1">Masculino</option>
                                        <option value="2">Feminino</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-dark btn-lg btn-block ">
                            Aplicar Filtro
                        </button>
                    </form>
                </div>
            </div>
       </div>

        <hr>
        <div class="row">
            <!-- cards -->
            <div class="card shadow mb-4">
                <img class="card-img-top" src="./images/animals/cat1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Sr. Julgamento</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
                <div class="col align-self-end">
                    <button type="button" class="btn btn-outline-secondary btn-lg btn-block btn-sm mb-3">Mais
                        informações</button>
                </div>
            </div>
            <!-- cards -->
            <div class="card shadow mb-4">
                <img class="card-img-top" src="./images/animals/cat2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">O destruidor</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
                <div class="col align-self-end">
                    <button type="button" class="btn btn-outline-secondary btn-lg btn-block btn-sm mb-3">Mais
                        informações</button>
                </div>
            </div>
            <!-- cards -->
            <div class="card shadow mb-4">
                <img class="card-img-top" src="./images/animals/cat3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Sr. Rabugento</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
                <div class="col align-self-end">
                    <button type="button" class="btn btn-outline-secondary btn-lg btn-block btn-sm mb-3">Mais
                        informações</button>
                </div>
            </div>
            <!-- cards -->
            <div class="card shadow mb-4">
                <img class="card-img-top" src="./images/animals/dog1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Verdade?</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
                <div class="col align-self-end">
                    <button type="button" class="btn btn-outline-secondary btn-lg btn-block btn-sm mb-3">Mais
                        informações</button>
                </div>
            </div>
            <!-- cards -->
            <div class="card shadow mb-4">
                <img class="card-img-top" src="./images/animals/dog2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Sr. Pirata</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
                <div class="col align-self-end">
                    <button type="button" class="btn btn-outline-secondary btn-lg btn-block btn-sm mb-3">Mais
                        informações</button>
                </div>
            </div>
            <!-- cards -->
            <div class="card shadow mb-4">
                <img class="card-img-top" src="./images/animals/dog3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Da comida</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
                <div class="col align-self-end">
                    <button type="button" class="btn btn-outline-secondary btn-lg btn-block btn-sm mb-3">Mais
                        informações</button>
                </div>
            </div>
            <!-- cards -->
            <div class="card shadow mb-4">
                <img class="card-img-top" src="./images/animals/bird1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">To com vergonha</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
                <div class="col align-self-end">
                    <button type="button" class="btn btn-outline-secondary btn-lg btn-block btn-sm mb-3">Mais
                        informações</button>
                </div>
            </div>
            <!-- cards -->
            <div class="card shadow mb-4">
                <img class="card-img-top" src="./images/animals/bird2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Rap...</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
                <div class="col align-self-end">
                    <button type="button" class="btn btn-outline-secondary btn-lg btn-block btn-sm mb-3">Mais
                        informações</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}