{% extends 'navigation.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-sm-12 col-xs-12 text-center">
                <h1 class="title">GRAFICOS</h1>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-6 col-xs-12 text-center">
                <img src="{% static 'images/charts/chart_1.png' %}" width="295" height="235">
                <h5>Maiores causas do abandono</h5>
                <P>Maiores causas do abandono</P>
            </div>
            <div class="col-md-6 col-xs-12 text-center">
                <img src="{% static 'images/charts/chart_2.png' %}" width="295" height="235">
                <h5>Locais com mais adoção</h5>
                <P>Locais com mais adoção</P>
            </div>
        </div>
        <hr>
        <div class="row mb-4">
            <div class="col-md-6 col-xs-12 text-center">
                <img src="{% static '/images/charts/chart_3.png' %}" width="295" height="235">
                <h5>Locais com mais abandono</h5>
                <P>Locais com mais abandono</P>
            </div>
            <div class="col-md-6 col-xs-12 text-center">
                <img src="{% static '/images/charts/chart_4.png' %}"  width="295" height="235">
                <h5>Animais mais abandonados</h5>
                <P>Locais com mais abandono</P>
            </div>
        </div>
    </div>

{% endblock content %}