{% extends 'navigation.html' %}
{% load static %}

{% block content %}



    <!-- <div class="row register d-flex justify-content-center"> -->
    <div class="row register justify-content-center">
        <div class="col-md-5 col-xs-12 shadow register-center">

            <div class="row">
                <img src="./img/Icons/logo_htoh_green.fw.png" class="mx-auto d-block mt-4" width="350" height="100">
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-center">
                    <h4 class="title mt-3">ESQUECEU SUA SENHA?</h4>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6 col-xs-12 text-center">
                    <p>
                        Nos diga seu e-mail e em segundos enviaremos um e-mail de recuperação de senha para você.
                    </p>
                    <form class="mt-4 mb-4" action="/exemplo.js">
                        <div class="form-group">
                            <input type="email" placeholder="E-MAIL" class="form-control" id="email">
                        </div>
                        <button type="submit" class="btn btn-secondary btn-lg btn-block ">RESGATAR SENHA</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}