{% extends 'navigation.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-sm-12 col-xs-12 text-center">
                <h1 class="title">QUEM SOMOS?</h1>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-sm-12 text-center">
                <img src="./images/others/img_cadu.jpeg" class="rounded-circle ml-4 photo-border" width="160" height="160">
                <img src="./images/others/img_nubia.jpeg" class="rounded-circle ml-4 photo-border" width="160" height="160">
                <img src="./images/others/img_jeni.jpeg" class="rounded-circle ml-4 photo-border" width="160" height="160">
                <img src="./images/others/img_rafa.jpeg" class="rounded-circle ml-4 photo-border" width="160" height="160">
                <img src="./images/others/img_bruno.jpeg" class="rounded-circle ml-4 photo-border" width="160" height="160">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-sm-12 col-xs-12">
                <h4 class="title">QUEM SOMOS</h4>
                <p>Nós somos um grupo de estudantes da PUC Campinas que decidimos desenvolver este 
                    sistema para auxiliar todas as pessoas que querem ajudar aqueles que não podem 
                    falar. Este sistema é um trabalho de conclusão de curso, e além de todo o 
                    carinho que colocamos no desenvolvimento, queremos que você do outro lado, 
                    também faça a sua parte. Nos ajude a crescer para que outros animais possam 
                    ser ajudados. Compartilhe este aplicativo em suas redes sociais, se você se 
                    sentir confortávvel para tal. Caso não, apenas aproveite o aplicativo, e 
                    esperamos que você goste de tudo que preparamos para você.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-sm-12 col-xs-12">
                <h4 class="title">MOTIVAÇÃO</h4>
                <p>Sabe quando você vê um animal de rua e sente que poderia fazer algo, mas não sabe como? Ou então, se você precisa de ajuda para doar ou adotar um animalzinho de forma responsável? Nós temos a resposta! Esse é o Happy to Help, a rede social dos protetores! Nela, você poderá doar, adotar e procurar por animais que estejam perdidos. Além disso, será possível realizar e receber doações. Se você é uma ONG, aqui você terá visibilidade. Se for uma pessoa comum, como nós, aqui terá um amigo.</p>
                <p>Se também quer dar voz aqueles que não tem, venha com a gente!</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-sm-12 col-xs-12">
                <h4 class="title">OBJETIVO</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, eum quisquam, consectetur officiis veritatis 
                    delectus et iusto eligendi, accusantium reprehenderit sit vitae repellat molestiae est hic sequi! Deserunt, 
                    delectus officia?</p>
            </div>
        </div>
    </div>
{% endblock content %}